<%= simple_form_for @postulate, :html => { :class => 'simple_form form-horizontal' } do |f| %>
  <%= f.input :user_id, input_html:{ class: 'form-control',value: current_user.id } %>
  
  <label>Iglesia</label>
  <br>
  <%= collection_select(:postulate, :church_id, Church.all, :id, :name, prompt: false)%>
  <br>
  <label>Tipo de Musica</label>
  <br>
  <%= collection_select(:postulate, :music_type_id, MusicType.all, :id, :name, prompt: false) %>
  <br>
  <%= f.input :date%>
  <%= f.input :music_name, input_html: {class: 'form-control'} %>
  <br>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                postulates_path, :class => 'btn btn-default' %>
<% end %>
