<%- model_class = SpecialPartUserUser -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:special_part_user_id) %>:</strong></dt>
  <dd><%= @special_part_user_user.special_part_user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:special_part_id) %>:</strong></dt>
  <dd><%= @special_part_user_user.special_part_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @special_part_user_user.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:like) %>:</strong></dt>
  <dd><%= @special_part_user_user.like %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              special_part_user_users_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_special_part_user_user_path(@special_part_user_user), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              special_part_user_user_path(@special_part_user_user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
